/* 登录页面样式 =============================== */
/* 整个登录页面大框 */
.logon {
  margin-top: 25vh;
  text-align: center;
}

/* 登录页面最上面的title */
.title {
  font-size  : 23px;
  font-weight: bolder;
}

.logon-unlock-icon {
  background-image: url(./drawable/unlock.png);
  background-size : cover;
  height          : 22px;
  width           : 22px
}

.logon-user-icon {
  background-image: url(./drawable/user.png);
  background-size : cover;
  height          : 22px;
  width           : 22px
}

/* 登录页面样式结束 =============================== */


/* 列表样式 ====================================== */
/* list列表整个大的框 */
.list-item {
  width          : 100%;
  height         : 10vh;
  padding-top    : 10px;
  padding-bottom : 10px;
  display        : flex;
  justify-content: space-around;
}

/* 左边放图片 */
.img {
  height: 100%;
  width : 25%;
}

/* 右边放nickname和address */
.name-address {
  height         : 100%;
  width          : 70%;
  display        : flex;
  justify-content: center;
  flex-direction : column;
}

/* name-address 的div内， 左边放nickname, 右边放时间 */
.name-time {
  width          : 100%;
  height         : 50%;
  display        : flex;
  justify-content: space-around;
}

/* nickname */
.nickname {
  width      : 100%;
  height     : 50%;
  font-size  : 16px;
  font-weight: bolder;
}

.location-time {
  color      : gray;
  font-size  : 14px;
  font-weight: bold;
}

/* address */
.address {
  widows   : 100%;
  height   : 50%;
  font-size: 14px;
}

.list-background {
  background-image: url("./drawable/home_background.png");
  width           : 100vw;
  height          : 100vh;
  background-size : cover;
  display         : flex;
  justify-content : center;
}

.list-title-container {
  width           : 100%;
  height          : 7vh;
  background-color: white;
  border-radius   : 15px;
  margin-top      : 5vh;
  margin-bottom   : 10vh;
  display         : flex;
  justify-content : center;
  flex-direction  : column;
}

.list-title {
  font-weight : bold;
  font-size   : 15px;
  padding-left: 15px;
}

.list-footer {
  color     : gray;
  margin-top: 180px;
  text-align: center;
}

.list-loading {
  color      : gray;
  margin-top : 180px;
  text-align : center;
  font-weight: bold;
}

/* 列表样式结束 ====================================== */


/* boot页面样式 ======================================= */
.boot-background {
  width           : 100vw;
  height          : 100vh;
  background-image: url("./drawable/boot_background.jpg");
  background-size : cover;
}

.boot-title {
  padding-top: 10%;
  text-align : center;
  color      : white;
  font-weight: bolder;
  font-size  : 50px;
}

.boot-subtitle {
  color      : white;
  font-weight: bold;
  text-align : center;
}

.boot-detail {
  position   : fixed;
  color      : white;
  font-weight: bold;
  left       : 30%;
  bottom     : 5%;
}

/* boot页面样式结束 ======================================= */